asgiref==3.5.2
autopep8==1.7.0
dj-database-url==1.0.0
Django==3.2.16
django-ckeditor==6.3.2
django-heroku==0.3.1
django-js-asset==2.0.0
flake8==5.0.4
mccabe==0.7.0
mypy==0.982
mypy-extensions==0.4.3
Pillow==9.2.0
psycopg2==2.9.5
pycodestyle==2.9.1
pyflakes==2.5.0
sqlparse==0.4.3
toml==0.10.2
tomli==2.0.1
typing_extensions==4.4.0
tzdata==2022.5
whitenoise==6.2.0
